.app-not-ready {
    opacity: 0;
}

.app-ready {
    opacity: 1;
}
.mainLoginContainer {
    background: url(/resources/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.loginContainer {
    padding-top: 5%;
}

.transparent {
    background-color: transparent !important;
}

.md-sticky-header {
    overflow: hidden;
}

.md-sticky-header > md-content {
    height: 90%;
}

.leftMenu {
    min-width: 250px !important;
    width: 50vw !important;
    max-width: 250px !important;
}

.text-ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis;
}