<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather tracker</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/lemur.css">
    <link rel="stylesheet" href="/resources/css/jquery.datetimepicker.css">
    <!--<script src="WeatherController.js"></script>-->
</head>
<body class="pure-skin-theme" id="caloriesCounterApp" ng-controller="CaloriesTrackerCtrl">

<div class="please-wait-dialog" ng-hide="vm.appReady">
    <img class="please-wait-spinner" src="/resources/img/loading.gif">
</div>

<header class="page-header pure-g not-ready" ng-class="{'app-ready': vm.appReady}">
    <div class="pure-u-lg-1-2 pure-u-1">

        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/weather-icon.png">
        </a>
        <span class="header-element page-title">Weather tracker</span>

    </div>
</header>

<main class="container not-ready" ng-class="{'app-ready': vm.appReady}" ng-cloak>

    <tt-error-messages></tt-error-messages>

    <div class="info-messages"
         ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
        <img class="info-icon" src="/resources/img/info-icon.png">

        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>

    <div class="container">
        <div ng-controller="WeatherCtrl">
            <div id="datetime">
                <h1>{{ date.raw | date:'hh : mm : ss' }}</h1>

                <h2>{{ date.raw | date:'EEEE d, MMMM yyyy' }}</h2>
            </div>
        </div>
    </div>

    <!--<div id="forecast">-->
    <!--<pre>{{ weather.forecast | json }}</pre>-->
    <!--</div>-->

    <div class="table">
        <div ng-controller="WeatherCtrl">
            <!--<div id="forecast">-->
            <!--<h1>Forecast: {{ weather.forecast }}</h1>-->
            <!--</div>-->
            <div id="container">
                <div ng-repeat="item in weather.forecast.weathers">
                    <img ng-src="{{item.img}}"/>

                    <h2>{{item.temperature}}&deg;C</h2>
                </div>
            </div>
            <div id="container">
                <div ng-repeat="item in weather.forecast.weathers">
                    <img ng-src="{{item.img}}"/>

                    <h2>RESPONSE: {{$scope.weatherAPI}}</h2>
                </div>
            </div>
        </div>
    </div>

    <form class="pure-form pure-form-aligned search-form">
        <fieldset>
            <legend>Search</legend>

            <div class="pure-g pure-form-stacked search-form-content">

                <div class="pure-u-sm-1-2 pure-u-1 from-field">
                    <label>From Date </label>
                    <input tt-date-picker name="fromDate" ng-model="vm.fromDate">
                </div>

                <div class="pure-u-sm-1-2 pure-u-1 to-field">
                    <label>To Date</label>
                    <input tt-date-picker name="toDate" ng-model="vm.toDate">
                </div>

                <div class="pure-u-sm-1-2 pure-u-1 from-field from-to-time">
                    <label>From Time</label>
                    <input tt-time-picker name="fromTime" ng-model="vm.fromTime">
                </div>

                <div class="pure-u-sm-1-2 pure-u-1 to-field from-to-time">
                    <label>To Time</label>
                    <input tt-time-picker name="toTime" ng-model="vm.toTime">
                </div>

                <div class="pure-u-1 search">
                    <button type="submit" ng-click="search()"
                            class="pure-button pure-button-primary search-button">Search
                    </button>
                </div>

            </div>

        </fieldset>
    </form>

    <div class="form-separator"></div>

    <div class="main-controls">
        <button type="submit" class="pure-button pure-button-primary" ng-click="save()">Save</button>
        <button type="reset" class="pure-button" ng-click="reset()">Reset</button>
    </div>

</main>

<script type="text/javascript" data-main="/resources/js/run-calories-tracker"
        src="/resources/bower_components/requirejs/require.js"></script>

</body>
</html>