<!DOCTYPE html>
<html ng-app="lemurApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lemur</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/resources/css/lemur.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/angular-csp.css">
    <link rel="stylesheet" href="/resources/bower_components/angular-material-sidenav-menu/material-menu-sidenav.min.css">

    <script src="/resources/bower_components/angular/angular.js"></script>
    <script src="/resources/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/resources/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/resources/bower_components/angular-route/angular-route.js"></script>
    <script src="/resources/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/resources/bower_components/angular-material/angular-material.js"></script>
    <script src="/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
    <script src="/resources/bower_components/angular-material-sidenav-menu/material-menu-sidenav.min.js"></script>
    <script src="/resources/app/components /lemur/lemur.js"></script>
</head>
<body>
<div layout="row" ng-controller="AppCtrl">
    <section layout="column" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" show-gt-sm ng-click="toggleFilter('left')">
                    <i class="material-icons">menu</i>
                </md-button>
                <span flex></span>
                <img src="/resources/img/foot-sm.png" alt="lemur">
                <h2>
                    <span>Home</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" show-gt-sm ng-click="logout()">
                    <i class="material-icons">power_settings_new</i>
                </md-button>
            </div>
        </md-toolbar>
        <!--<md-sidenav style="overflow-y: scroll" layout="column" class="md-sidenav-left md-whiteframe-z2"-->
                    <!--md-component-id="left">-->

            <!--<div layout="row" layout-padding>-->
                <!--<h1 class="md-title">olimou/material-sidenav-menu</h1>-->
            <!--</div>-->

            <!--<md-divider></md-divider>-->

            <!--<md-menu-sidenav>-->
                <!--<md-menu-sidenav-item>-->
                    <!--<md-menu-sidenav-title>-->
                        <!--<md-toogle-menu layout="row" flex>-->
                            <!--<md-icon flex="15">face</md-icon>-->
                            <!--<h1 class="md-body-2" flex>Mapa</h1>-->
                        <!--</md-toogle-menu>-->

                        <!--<md-icon flex="15">pause</md-icon>-->
                    <!--</md-menu-sidenav-title>-->

                    <!--<md-menu-sidenav-content>-->
                        <!--<md-menu-sidenav-subitem>Item 1</md-menu-sidenav-subitem>-->
                        <!--<md-menu-sidenav-subitem>Item 2</md-menu-sidenav-subitem>-->
                        <!--<md-menu-sidenav-subitem>Item 3</md-menu-sidenav-subitem>-->
                    <!--</md-menu-sidenav-content>-->
                <!--</md-menu-sidenav-item>-->

                <!--<md-divider></md-divider>-->

                <!--<md-menu-sidenav-item>-->
                    <!--<md-menu-sidenav-title>-->
                        <!--<md-toogle-menu layout="row" flex>-->
                            <!--<md-icon flex="15">face</md-icon>-->
                            <!--<h1 class="md-body-2" flex>Mapa</h1>-->
                            <!--<md-icon flex="15">pause</md-icon>-->
                        <!--</md-toogle-menu>-->

                    <!--</md-menu-sidenav-title>-->

                    <!--<md-menu-sidenav-content>-->
                        <!--<md-menu-sidenav-subitem>Item 1</md-menu-sidenav-subitem>-->
                        <!--<md-menu-sidenav-subitem>Item 2</md-menu-sidenav-subitem>-->
                        <!--<md-menu-sidenav-subitem>Item 3</md-menu-sidenav-subitem>-->
                        <!--<md-menu-sidenav-subitem>Item 4</md-menu-sidenav-subitem>-->
                    <!--</md-menu-sidenav-content>-->
                <!--</md-menu-sidenav-item>-->
            <!--</md-menu-sidenav>-->
        <!--</md-sidenav>-->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-sticky-header" md-component-id="left"
                    md-is-locked-open="false">

            <md-toolbar layout="row">
                <h1 class="md-toolbar-tools">Menu</h1>
                <span flex></span>
                <md-button class="md-icon-button md-primary" ng-click="closeFilter('left')">
                    <i class="material-icons">arrow_back</i>
                </md-button>
            </md-toolbar>
            <md-content layout-padding role="navigation">

                <md-menu-sidenav>
                    <md-menu-sidenav-item>
                        <md-menu-sidenav-title>
                            <md-toogle-menu layout="row" flex>
                                <md-icon flex="15">face</md-icon>
                                <h1 class="md-body-2" flex>Mapa</h1>
                            </md-toogle-menu>

                            <md-icon flex="15">pause</md-icon>
                        </md-menu-sidenav-title>

                        <md-menu-sidenav-content>
                            <md-menu-sidenav-subitem>Item 1</md-menu-sidenav-subitem>
                            <md-menu-sidenav-subitem>Item 2</md-menu-sidenav-subitem>
                            <md-menu-sidenav-subitem>Item 3</md-menu-sidenav-subitem>
                        </md-menu-sidenav-content>
                    </md-menu-sidenav-item>

                    <md-divider></md-divider>

                    <md-menu-sidenav-item>
                        <md-menu-sidenav-title>
                            <md-toogle-menu layout="row" flex>
                                <md-icon flex="15">face</md-icon>
                                <h1 class="md-body-2" flex>Mapa</h1>
                                <md-icon flex="15">pause</md-icon>
                            </md-toogle-menu>

                        </md-menu-sidenav-title>

                        <md-menu-sidenav-content>
                            <md-menu-sidenav-subitem>Item 1</md-menu-sidenav-subitem>
                            <md-menu-sidenav-subitem>Item 2</md-menu-sidenav-subitem>
                            <md-menu-sidenav-subitem>Item 3</md-menu-sidenav-subitem>
                            <md-menu-sidenav-subitem>Item 4</md-menu-sidenav-subitem>
                        </md-menu-sidenav-content>
                    </md-menu-sidenav-item>
                </md-menu-sidenav>

            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <!--TODO: content goes here-->
        </md-content>
    </section>
</div>
</body>
</html>