<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lemur</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/lemur.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/angular-material.css">
</head>

<body id="loginApp" layout="column">

<!--<md-toolbar layout="row">-->
<!--<h1>Angular Material - Starter App</h1>-->
<!--</md-toolbar>-->

<main  class="mainLoginContainer" ng-controller="BaseFormCtrl">
    <div class="loginContainer app-not-ready" ng-class="{'app-ready': vm.appReady}" >
        <md-content class="transparent" id="content">

            <div layout="row" layout-align="center center" layout-fill>
                <md-whiteframe layout="column" flex="20">
                    <div layout="row" layout-align="center center" style="height: 100%;" layout-fill>
                        <img src="/resources/img/lemur-small-tr-gr.png" alt="lemur">
                    </div>

                    <form ng-submit="onLogin()" name="form" novalidate ng-controller="LoginCtrl">

                        <md-content class="transparent">

                            <md-input-container class="md-block">
                                <label>Username</label>
                                <input name="username" ng-focus="focus('username')" ng-blur="blur('username')"
                                       required ng-minlength="6" ng-model="vm.username">
                                <div role="alert" ng-show="isMessagesVisible('username')"
                                     ng-messages="form.username.$error">
                                    <div ng-message="required">The username is mandatory</div>
                                    <div ng-message="minlength">must have minimum 6 characters</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input name="password" ng-model="vm.password" ng-blur="blur('password')"
                                       minlength="6" ng-focus="focus('password')"
                                       required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">

                                <div ng-show="isMessagesVisible('password')"
                                     ng-messages="form.password.$error" ng-cloak>
                                    <div ng-message="required">The password is mandatory</div>
                                    <div ng-message="minlength">must have minimum 6 characters</div>
                                    <div ng-message="pattern">At least one number and uppercase</div>
                                </div>
                            </md-input-container>

                            <md-input-container layout-align="center center">
                                <div layout="row" layout-sm="column" layout-margin>
                                    <md-button type="submit" class="md-raised" flex="70" flex-sm="100">Login
                                    </md-button>
                                    <md-button class="md-primary" flex="50" flex-sm="100" ng-click="toggleRight()" ng-hide="isOpenRight()">New?
                                    </md-button>
                                </div>
                            </md-input-container>
                        </md-content>
                    </form>
                </md-whiteframe>
            </div>
        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar>
                <h1 class="md-toolbar-tools">Register</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding="">
                <form ng-submit="createUser()" name="form" novalidate ng-controller="LoginCtrl">

                    <md-content class="transparent">

                        <md-input-container class="md-block">
                            <label>Username</label>
                            <input name="username" ng-focus="focus('username')" ng-blur="blur('username')"
                                   required ng-minlength="6" ng-model="vm.username">
                            <div role="alert" ng-show="isMessagesVisible('username')"
                                 ng-messages="form.username.$error">
                                <div ng-message="required">The username is mandatory</div>
                                <div ng-message="minlength">must have minimum 6 characters</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input name="username" ng-focus="focus('username')" ng-blur="blur('username')"
                                   required ng-minlength="6" ng-model="vm.username">
                            <div role="alert" ng-show="isMessagesVisible('username')"
                                 ng-messages="form.username.$error">
                                <div ng-message="required">The username is mandatory</div>
                                <div ng-message="minlength">must have minimum 6 characters</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input name="password" ng-model="vm.password" ng-blur="blur('password')"
                                   minlength="6" ng-focus="focus('password')"
                                   required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">

                            <div ng-show="isMessagesVisible('password')"
                                 ng-messages="form.password.$error" ng-cloak>
                                <div ng-message="required">The password is mandatory</div>
                                <div ng-message="minlength">must have minimum 6 characters</div>
                                <div ng-message="pattern">At least one number and uppercase</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Repeat Password</label>
                            <input name="password" ng-model="vm.password" ng-blur="blur('password')"
                                   minlength="6" ng-focus="focus('password')"
                                   required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">

                            <div ng-show="isMessagesVisible('password')"
                                 ng-messages="form.password.$error" ng-cloak>
                                <div ng-message="required">The password is mandatory</div>
                                <div ng-message="minlength">must have minimum 6 characters</div>
                                <div ng-message="pattern">At least one number and uppercase</div>
                            </div>
                        </md-input-container>

                        <md-input-container layout-align="center center">
                            <div layout="row" layout-sm="column" layout-margin>
                                <md-button type="submit" class="md-raised" flex="70" flex-sm="100">Login
                                </md-button>
                                <md-button class="md-primary" flex="50" flex-sm="100" ng-click="toggleRight()" ng-hide="isOpenRight()">New?
                                </md-button>
                            </div>
                        </md-input-container>
                    </md-content>
                </form>
                <md-button ng-click="close()" class="md-raised">Close</md-button>
            </md-content>

        </md-sidenav>
    </div>
</main>
</body>

<script type="text/javascript" data-main="/resources/js/run-loggin-app"
        src="/resources/bower_components/requirejs/require.js"></script>
</body>
</html>