<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lemur</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/lemur.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/angular-csp.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/angular-material.css">

    <script src="/resources/bower_components/angular/angular.js"></script>
    <script src="/resources/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/resources/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/resources/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/resources/bower_components/angular-material/angular-material.js"></script>
    <script src="/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
    <script src="login.js"></script>
    <script src="common.js"></script>
    <script src="newUser.js"></script>
</head>

<!--<script type="text/javascript" data-main="/resources/js/run-loggin-app"-->
        <!--src="/resources/bower_components/requirejs/require.js"></script>-->

<body ng-app="loginApp" layout="column">

<main class="mainLoginContainer" ng-controller="BaseFormCtrl">
    <div class="loginContainer app-not-ready" ng-class="{'app-ready': vm.appReady}">
        <md-content class="transparent" id="content">

            <div layout="row" layout-align="center center" layout-fill>
                <md-whiteframe layout="column" flex="20">
                    <div layout="row" layout-align="center center" style="height: 100%;" layout-fill>
                        <img src="/resources/img/lemur-small-tr-gr.png" alt="lemur">
                    </div>

                    <form ng-submit="onLogin()" name="form" novalidate ng-controller="LoginCtrl">

                        <md-content class="transparent">

                            <md-input-container class="md-block">
                                <label>Username</label>
                                <input name="username" ng-focus="focus('username')" ng-blur="blur()"
                                       required ng-minlength="6" ng-model="vm.username">
                                <div role="alert" ng-show="isMessagesVisible('username')"
                                     ng-messages="form.username.$error">
                                    <div ng-message="required">The username is mandatory</div>
                                    <div ng-message="minlength">must have minimum 6 characters</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input name="password" ng-model="vm.password" ng-blur="blur()"
                                       minlength="6" ng-focus="focus('password')"
                                       required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">

                                <div ng-show="isMessagesVisible('password')"
                                     ng-messages="form.password.$error" ng-cloak>
                                    <div ng-message="required">The password is mandatory</div>
                                    <div ng-message="minlength">must have minimum 6 characters</div>
                                    <div ng-message="pattern">At least one number and uppercase</div>
                                </div>
                            </md-input-container>

                            <md-input-container layout-align="center center">
                                <div layout="row" layout-sm="column" layout-margin>
                                    <md-button type="submit" class="md-raised" flex="70" flex-sm="100">Login
                                    </md-button>
                                    <md-button class="md-primary" flex="50" flex-sm="100" ng-click="toggleRight()"
                                               ng-hide="isOpenRight()">New?
                                    </md-button>
                                </div>
                            </md-input-container>
                        </md-content>
                    </form>
                </md-whiteframe>
            </div>
        </md-content>
        <div ng-include="'newUser.html'"></div>
    </div>
</main>
</body>

</html>